.navbar.navbar-default.top-header
  .container
    .navbar-header
      %h1= link_to 'StoryLine', root_path 
    %ul.nav.navbar-nav.text-center
      %li
        = link_to do
          %span.glyphicon.glyphicon-plus 
          New Story
      %vr
      %li= link_to 'Contribute to Story'
      %li= link_to 'Read Stories'
      %li= link_to 'How it Works'