= render 'shared/header', header_title: 'Continue Story'

- if @entry.errors.any?
  = render 'shared/errors', obj: @entry


%h2= @story.title
%p= @story.previous_entry

= form_for [@story, @entry] do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :story_id, value: @story.id
  %br
  = f.label :body, 'What happens next?'
  %br
  = f.text_area :body
  %br
  = check_box_tag :story_status
  = label_tag :story_status, 'Finish this story'
  %br
  = f.submit 'Add your line', class: 'btn btn-primary'
