%h1 Start a New Story
%hr

= form_tag({controller: 'ui', action: 'index'}, method: 'get') do
  = label_tag :title, "What is your story called?"
  %br
  = text_field_tag :title, '', size: 50
  %br
  %br
  = label_tag :entry, "How does it begin?"
  %br
  = text_area_tag :entry, '', size: '50x5', maxlength: 140
  %br
  %br
  = submit_tag "Start Story", class: 'btn btn-primary'
