!!! 5
%html(lang="en-US")
  %head
    %title Storyline
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cabin+Sketch'
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags 

  %body
    %header
      = render 'shared/navbar'
    %section.content.clearfix
      = render 'shared/messages'
      .container
        = yield
    %footer
      &copy 2014 StoryLine